.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1e293b;
}

a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
